<% html_title(l(:label_magic_link_rules)) %>

<div class="contextual">
  <%= link_to l(:label_new_magic_link_rule),
              new_magic_link_rule_path,
              :class => 'icon icon-add' %>
  <%= link_to l(:label_magic_link_histories),
              magic_link_histories_path,
              :class => 'icon icon-list' %>
</div>

<h2><span class="icon icon-magic-link-rules"><%= h "#{l(:label_magic_link_rules)}" %></span></h2>

<% if @notice %>
  <div class="flash notice"><%= @notice %></div>
<% end %>

<% if @rules.empty? %>
  <div class="rules_box">
    <%= l(:no_magic_link_rules) %>
  </div>
<% else %>

  <div class="rules_box">

    <table class="list rules" id="rules_list">
      <thead>
      <tr>
        <th><%= l(:label_enabled) %></th>
        <th>ID</th>
        <th class="rule_contact_custom_field"><%= l(:field_contact_custom_field) %></th>
        <th><%= l(:label_role_plural) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @rules.each do |rule| %>
        <tr class="rule">
          <td><span class="<%= rule.enabled ? 'icon icon-ok' : 'icon icon-not-ok' %>"></span></td>
          <td><%= rule.id %></td>
          <td><%= rule.contact_custom_field.try(:name) %></td>
          <td><%= rule.roles.map(&:name).join(", ") %></td>
          <td class="buttons">
            <%= link_to l(:button_edit), edit_magic_link_rule_path(rule), :class => 'icon icon-edit' %>
            <%= link_to l(:button_generate_magic_link), magic_link_rule_path(rule), :class => 'icon icon-link' %>
            <%= delete_link magic_link_rule_path(rule) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>
